<launch>

  <!-- Common Parameters -->
  <arg name="sensor_model" default="64" doc="Divide the point cloud into nested circular regions centred at the sensor. 16/32/64"/>
  <arg name="print_fps" default="true" doc="Print the FPS on the terminal."/>

  <!-- Crop Parameters -->
  <arg name="x_axis_min" default="0.0" doc="Backward"/>
  <arg name="x_axis_max" default="80.0" doc="Forward"/>
  <arg name="y_axis_min" default="-20.0" doc="Right"/>
  <arg name="y_axis_max" default="20.0" doc="Left"/>
  <arg name="z_axis_min" default="-0.70" doc="Downward (e.g. the height of the LIDAR.)"/>
  <arg name="z_axis_max" default="0.5" doc="Upward"/>

  <!-- Cluster Parameters -->
  <arg name="cluster_size_min" default="10" doc="The minimum number of the points to be clustered."/>
  <arg name="cluster_size_max" default="10000" doc="The maximum number of the points to be clustered."/>

  <!-- Node -->
  <node pkg="object_cluster" name="object_cluster" type="object_cluster">
    <param name="sensor_model" value="$(arg sensor_model)" />
    <param name="print_fps" value="$(arg print_fps)" />
    <param name="x_axis_min" value="$(arg x_axis_min)" />
    <param name="x_axis_max" value="$(arg x_axis_max)" />
    <param name="y_axis_min" value="$(arg y_axis_min)" />
    <param name="y_axis_max" value="$(arg y_axis_max)" />
    <param name="z_axis_min" value="$(arg z_axis_min)" />
    <param name="z_axis_max" value="$(arg z_axis_max)" />
    <param name="cluster_size_min" value="$(arg cluster_size_min)" />
    <param name="cluster_size_max" value="$(arg cluster_size_max)" />
  </node>
  
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find object_cluster)/launch/object_cluster.rviz"/>
</launch>
